.App {
  text-align: center;
}

h1 {
  font-family: "Lily Script One", cursive;
  font-size: 100px;
  color: #F0F0F0;
  letter-spacing: 3px;
  text-align: center;
}

h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 30px;
  color: #F0F0F0;
  text-align: center;
}

.left {
  width: 50%;
  background-color: #EFEFEF;
}

.locationData {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.right {
  width: 50%;
  height: 100%;
  overflow: scroll;
  line-height: 0px;
}

.Axis text {
  color: #A9A9A9;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
}

.Axis-Bottom path,
.Axis-Bottom line {
  stroke: #A9A9A9;
  display: none;
}

.Axis-Bottom text {
  text-anchor: center;
}

.Axis-Left line {
  stroke: #A9A9A9;
  stroke-dasharray: 5,5;
  opacity: 0.5;
}

.Axis-Left path {
  stroke: #A9A9A9;
  display: none;
}

.Axis-Left text {
  text-anchor: end;
}

.start {
  stop-color: #a0ced9;
}

.end {
  stop-color: #83a9b2;
}
